<!-- Include partial in file -->
<%- include("partials/head") %> 
<%- include("partials/navbar") %>

<div class="container">
  <h1>Home</h1>
  <h2><%= "welcome".toUpperCase()%></h2>
  <h3>Math 5 + 3 = <%= 5 + 3 %></h3>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat corrupti
    repellendus, ipsum, blanditiis non commodi enim ullam sit dolores magnam
    dignissimos sed amet laborum beatae doloremque quae soluta rem esse! Hic
    consequatur in modi? Quidem suscipit temporibus nemo totam cum omnis
    voluptas quibusdam nisi, eveniet, officiis tempora veritatis est incidunt
    nihil laudantium illum voluptate, molestias tenetur reprehenderit
    accusantium reiciendis et!
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut itaque,
    exercitationem dicta tempore praesentium labore deserunt a illum, ex iste
    eos natus maiores neque recusandae laboriosam ducimus consectetur.
    Architecto, dolore.
  </p>
</div>

<%- include("partials/footer") %>
